<div class="education-container container-block">
    <h2 class="container-block-title">{{ i18n "certifications" }}</h2>
    {{ range .Site.Params.certs.list }}
    <div class="item">
        <h4 class="degree">{{ .title }}</h4>
       <!-- <div class="time">{{ .description }}</div>-->
    </div><!--//item-->
    {{ end }}
</div><!--//education-container-->
